function Odd.check 0
  push argument 0
  push constant 0
  eq
  if-goto IS_ODD
    push argument 0
    push constant 1
    sub
    call Even.check 1
    not
    return
  label IS_ODD
    push constant 1
    return
